
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
{% if page.subheadline %}<h2 class="post-title">{{ page.subheadline }}</h1>{% endif %}
  <span class="post-date">{{ page.date | date_to_string }}</span>

<div class="container">
{% if page.book_info.cover_img %}
{% assign real_link=page.book_info.cover_img %}
{% assign link_start = real_link | slice: 0 %}
{% if  link_start == "/" %}{% assign real_link = real_link | prepend: site.url %}{% endif %}
<div class="book_cover">
<img  src="{{ real_link }}" alt="{{ page.title }}'s cover" /></div>{% endif %}
{% if page.book_info %}
<div class="book-info">
<blockquote>

{% if page.book_info.authors or  page.book_info.publisher or page.book_info.year or page.book_info.isbn or page.book_info.pages or page.book_info.formats or page.book_info.amazon or page.book_info.drivethrurpg or page.book_info.kindle %} 
<ul>
{% if page.book_info.authors %}
<li/><b>AUTHOR(s):</b> {{ page.book_info.authors | sort | join: ';' }}
{% endif %}
{% if page.book_info.publisher %}
<li/><b>PUBLISHER:</b>{% if page.book_info.publisher.link %}<a href="{{page.book_info.publisher.link}}">{% endif %}{{ page.book_info.publisher.name }}{% if page.book_info.publisher.link %}</a>{% endif %}
{% endif %}
{% if page.book_info.year %}
<li/><b>YEAR:</b> {{ page.book_info.year }}
{% endif %}
{% if page.book_info.isbn %}
<li/><b>ISBN:</b> {{ page.book_info.isbn }}
{% endif %}
{% if page.book_info.pages %}
<li/><b># of pages:</b> {{ page.book_info.pages }}
{% endif %}
{% if page.book_info.formats %} 
<li/><b>FORMATS:</b> {{ page.book_info.formats | sort | join: '; ' }}
{% endif %}
{% if page.book_info.buy_at %} 
<li/><b>BUY AT:</b>
<li style="list-style-type:none"><ul>
{% for link in page.book_info.buy_at %}
<li/><a href="{{ link.link }}">{{ link.site }}</a>
{% endfor %}
</ul></li>
{% endif %}
</ul>
{% endif %}
</blockquote></div>
{% endif %}
</div>


{{ content }}
</div>



<div class="related">
  <h2>Posts Relaciondos</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
