---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title | markdownify }}</h1>
  <span class="post-date">
    {{ page.date | date_to_string }} - {% if author %}{% if author.email %}<a href="mailto:{{ author.email }}">{% endif %}Por {{ author.name }}{% if author %}</a>{% endif %}{% endif %}
  </span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
